.college-image
{
    background-image: url(https://github.com/Ullas9080/Image/blob/main/college%20font%20image.png?raw=true);
    height: 600px;
    background-repeat: no-repeat;
   
    background-size: cover;
    margin-top: 30px;
}