.pages
{
    margin-left: 950px;
    margin-top: 30px;
  font-family: 'Josefin Sans', sans-serif;  
}

a{
    padding-left: 10px;
    color: black;
    font-weight: 600;
    font-size: 1rem;
}

.body-details
{
  font-family: 'Josefin Sans', sans-serif;  

}

.heading
{
    margin-top: 70px;
    text-align: center;
}

.bms-info-para
{
    text-align: center;
    margin-top: 30px;
    font-weight:400;
    color: rgb(0, 0, 0);
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 0.1rem;
    /* padding-left: 100px;
    padding-right: 100px; */
}